header{
    display: flex;
    justify-content: space-around;
    background-color: #BB6BBB;
}

.main-part{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #BB6BBB;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.medium-part{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #E493DA;
    padding: 100px 100px;
}

.third-part{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #BB6BBB;
    padding: 100px 100px;
    gap: 50px;
}

.last-part{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #E493DA;
    padding: 90px 90px;
}

body{
    font-family: 'Roboto', sans-serif;
}

