/******************************************************/
/*  Main Part
/******************************************************/

header{
    display: flex;
    justify-content: space-around;
    background-color: #6562C5;
    flex-direction: row;
}

ol{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

button{
    background-color: #6562C5;
    padding: 0 15px;
    border: none;
}

.main-part{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #6562C5;
    padding-bottom: 90px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

/******************************************************/
/*  Medium Part
/******************************************************/

.medium-part{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F3F1FF;
    padding: 100px 100px;
}

/******************************************************/
/*  Third Part
/******************************************************/

.third-part{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    padding: 100px 100px;
    gap: 50px;
}

.get-information{
    border: solid 2px black;
    color: white;
    padding: 10px;
}

/******************************************************/
/*  Last Part
/******************************************************/


.last-part{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: violet;
    padding: 90px 90px;
}

/******************************************************/
/*  Footer
/******************************************************/

.address{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #242C56;
    padding: 30px;
}

.web-information{
    display: flex;
    background-color: #BB6BBB;
    flex-direction: column;
    width: 1000px;
}

.final-part{
    display: flex;
    background-color: #BB6BBB;
    flex-direction: column;
    justify-content: flex-end;
    width: 500px;
}

.legacy-things{
    background-color: #BB6BBB;
    border-top: 2px solid black;
    padding: 5px;
}

/******************************************************/
/*  General Style
/******************************************************/

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.icons{
    width: 30px;
    height: 30px;
}

.icon-play{
    width: 20px;
    height: 20px;
}